@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500");
@font-face {
  font-family: 'adamnormal';
  src: url("../../font/adam-webfont.woff2") format("woff2"), url("../../font/adam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotaregular';
  src: url("../../bellota-regular-webfont.woff2") format("woff2"), url("../../bellota-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotalight';
  src: url("../../bellota-light-webfont.woff2") format("woff2"), url("../../bellota-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  line-height: 1.5;
  background-color: #fff;
}

@media only screen and (max-width: 500px) {
  .mobile-landing {
    display: none;
  }
}

.main {
  background-color: #1d1d21;
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main {
    height: 50px;
  }
}
.main__home-landing {
  height: 200px;
  padding: 10px 0;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .main__home-landing {
    height: 150px;
    padding: 0;
  }
}
.main__home-landing__logo {
  padding-top: 1.5em;
  display: block;
  margin: 0 auto;
  width: 320px;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__logo {
    display: none;
  }
}

.project-hero {
  background: url(../../images/curranbw.jpg) no-repeat 50% 60%;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-hero img {
  position: absolute;
  width: 400px;
  max-width: 100%;
}
@media only screen and (max-width: 500px) {
  .project-hero img {
    width: 250px;
  }
}

.content-area {
  margin: 50px 150px;
}
@media only screen and (max-width: 600px) {
  .content-area {
    margin: 1.5em;
  }
}
.content-area section {
  color: #1d1d21;
  border-bottom: 2px solid #1d1d21;
  width: 100%;
}
.content-area section a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
.content-area section a:hover {
  border-bottom: 1px solid red;
}
.content-area section h2 {
  font-family: "bellotaregular", sans-serif;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}
.content-area section p {
  font-family: "Work Sans", sans-serif;
  padding-bottom: 20px;
}
.content-area section p span {
  font-weight: bold;
}
.content-area section img {
  width: 100%;
  padding: 20px 0;
}
.content-area section .img-wrapper {
  width: 100%;
  position: relative;
}
.content-area section .img-wrapper img {
  width: 50%;
  padding: 0 20px 20px 0;
  float: left;
}
@media only screen and (max-width: 600px) {
  .content-area section .img-wrapper img {
    float: none;
    width: 100%;
  }
}
.content-area section h4 {
  padding: 30px 0 0 0;
  font-family: "Work Sans", sans-serif;
}
.content-area #project-info {
  padding-top: 20px;
}
.content-area #my-role {
  height: 1100px;
}
@media only screen and (max-width: 600px) {
  .content-area #my-role {
    height: 1600px;
  }
}
.content-area #invite {
  min-height: 100px;
}

.application {
  min-height: 300px;
  font-family: "bellotaregular", sans-serif;
  padding: 50px 0;
  background-color: #ed9f80;
  color: #1d1d21;
  text-align: center;
}
.application h1 {
  margin-bottom: 60px;
  font-size: 4em;
}
.application a {
  padding-top: 40px;
  color: #3e3e46;
  font-size: 2em;
  font-family: "Work Sans", sans-serif;
  border-bottom: 2px solid #3e3e46;
  padding-bottom: 5px;
}
.application a:hover {
  color: #f4b9a6;
  text-decoration: none;
  border-bottom: 2px solid #f4b9a6;
}
