@import url("https://fonts.googleapis.com/css?family=Work+Sans:300");
@font-face {
  font-family: 'adamnormal';
  src: url("../../font/adam-webfont.woff2") format("woff2"), url("../../font/adam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotaregular';
  src: url("../../bellota-regular-webfont.woff2") format("woff2"), url("../../bellota-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotalight';
  src: url("../../bellota-light-webfont.woff2") format("woff2"), url("../../bellota-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  line-height: 1.5;
}

@media only screen and (max-width: 500px) {
  .mobile-landing {
    display: none;
  }
}

.main {
  background-color: #1d1d21;
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main {
    height: 50px;
  }
}
.main__home-landing {
  height: 200px;
  padding: 10px 0;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .main__home-landing {
    height: 150px;
    padding: 0;
  }
}
.main__home-landing__logo {
  padding-top: 1.5em;
  display: block;
  margin: 0 auto;
  width: 150px;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__logo {
    display: none;
  }
}

.project-hero {
  background: url(../images/project1-hero.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 500px;
}
@media only screen and (max-width: 500px) {
  .project-hero {
    height: 350px;
  }
}

.content-area {
  margin-left: 5em;
}

@media only screen and (max-width: 500px) {
  .scrollspy {
    display: none;
  }
}

#nav {
  padding-top: 100px;
  background-color: transparent;
}

#nav.affix-top {
  position: relative;
}

#nav.affix {
  top: 20px;
}

#nav.affix,
#nav.affix-bottom {
  width: 213px;
}

#nav.affix-bottom {
  position: absolute;
}

#nav li .active, #nav li a, #nav li a:hover, .side-links li.active, .side-links li a, .side-links li a:hover {
  background-color: transparent !important;
  color: black;
}

#nav li .active, .side-links li.active {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .project-content {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  section {
    padding: 0 !important;
  }
}

.content-div {
  width: 100%;
  height: auto;
}
.content-div img {
  width: 100%;
}

section:last-child {
  border-bottom: none;
}

#web-development,
#mobile-development {
  padding-bottom: 0;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  padding: 150px 0;
}
