@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500");
@font-face {
  font-family: 'adamnormal';
  src: url("../../font/adam-webfont.woff2") format("woff2"), url("../../font/adam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotaregular';
  src: url("../../bellota-regular-webfont.woff2") format("woff2"), url("../../bellota-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotalight';
  src: url("../../bellota-light-webfont.woff2") format("woff2"), url("../../bellota-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  line-height: 1.5;
  background-color: #fff;
}

@media only screen and (max-width: 500px) {
  .mobile-landing {
    display: none;
  }
}

.main {
  background-color: #1d1d21;
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main {
    height: 50px;
  }
}
.main__home-landing {
  height: 200px;
  padding: 10px 0;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .main__home-landing {
    height: 150px;
    padding: 0;
  }
}
.main__home-landing__logo {
  padding-top: 1.5em;
  display: block;
  margin: 0 auto;
  width: 320px;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__logo {
    display: none;
  }
}

.project-hero {
  background: url(../../images/amongstrangers.jpg) no-repeat 50% 45%;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-hero .color-box {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #1d1d21;
  opacity: 0.6;
}
.project-hero img {
  position: absolute;
  width: 400px;
  max-width: 100%;
}
@media only screen and (max-width: 990px) {
  .project-hero img {
    width: 300px;
  }
}

.content-area {
  margin: 0 !important;
  width: 100%;
}
@media only screen and (max-width: 990px) {
  .content-area {
    margin: -2px -15px 0 -15px;
  }
}

@media only screen and (max-width: 992px) {
  .scrollspy {
    display: none;
  }
}

#nav {
  padding: 65px 0 0 0;
  background-color: transparent;
  min-height: 500px;
  margin-bottom: 30px !important;
}

#nav li a p {
  font-size: 1.2em;
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}

#nav li a {
  font-family: "bellotaregular", sans-serif;
  font-size: 1.2em;
  padding: 5px 15px !important;
}

#nav.affix-top {
  position: relative;
}

#nav.affix {
  top: 20px;
}

#nav.affix,
#nav.affix-bottom {
  width: 213px;
}

#nav.affix-bottom {
  position: absolute;
}

#nav li .active, #nav li a, #nav li a:hover, .side-links li.active, .side-links li a, .side-links li a:hover {
  background-color: transparent !important;
  color: #1d1d21;
}

#nav li .active, .side-links li.active {
  font-weight: bold;
  color: #ed9f80 !important;
  border-bottom: 1px solid #ed9f80;
}

.nav .nav .active a, .nav .nav .active:hover a, .nav .nav .active:focus a {
  border-left: 5px solid #ed9f80 !important;
}

#web-development,
#mobile-development {
  padding-bottom: 0;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.project-content {
  width: 75%;
  position: relative;
  padding: 0;
}
@media only screen and (max-width: 992px) {
  .project-content {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .project-content {
    padding: 0 !important;
  }
}

section {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  section {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  section div.pad-box {
    padding: 1.5em !important;
  }
}

section:last-child {
  border-bottom: none;
}

#overview {
  height: 500px;
  color: #1d1d21;
  background: url(../../images/overview.jpg) no-repeat 50% 60%;
  background-size: cover;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  #overview {
    min-height: 750px;
  }
}
#overview .color-box {
  height: 500px;
  background-color: #daae9c;
  width: 100%;
  position: absolute;
  opacity: 0.85;
}
@media only screen and (max-width: 500px) {
  #overview .color-box {
    min-height: 750px;
  }
}
#overview .pad-box {
  margin: 0 auto;
  padding: 50px;
  width: 750px;
  position: absolute;
}
@media only screen and (max-width: 500px) {
  #overview .pad-box {
    width: 100%;
    padding: 2em !important;
  }
}
#overview .pad-box h2 {
  padding-bottom: 30px;
  font-family: "adamnormal", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #1d1d21;
  border-bottom: 2px solid #1d1d21;
}
#overview .pad-box h4 {
  font-style: italic;
  padding: 20px 0;
}
#overview .pad-box p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
#overview .pad-box a {
  font-size: 1.2em;
  display: block;
  padding: 20px 0;
  text-decoration: underline;
  color: #3e3e46;
  font-family: "Work Sans", sans-serif;
}
#overview .pad-box a:hover {
  color: #f4b9a6;
}

#brand-video {
  height: 600px;
  background-color: #3e3e46;
  color: #daae9c;
}
@media only screen and (max-width: 500px) {
  #brand-video {
    height: 120%;
  }
}
#brand-video .pad-box {
  margin: 0 auto;
  padding: 50px;
}
#brand-video .pad-box h2 {
  padding-bottom: 30px;
  font-family: "adamnormal", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 2px solid #daae9c;
}
#brand-video .pad-box iframe {
  padding-top: 20px;
  width: 650px;
  height: 370px;
}
@media only screen and (max-width: 500px) {
  #brand-video .pad-box iframe {
    width: 100%;
    height: auto;
  }
}

#branding-research {
  height: auto;
  background-color: #daae9c;
  color: #1d1d21;
}
#branding-research .pad-box {
  margin: 0 auto;
  padding: 50px;
}
#branding-research .pad-box h2 {
  padding-bottom: 20px;
  font-family: "adamnormal", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 2px solid #1d1d21;
}
#branding-research #target-market {
  color: #1d1d21;
  border-bottom: 1px solid #1d1d21;
}
#branding-research #target-market .pad-box {
  margin: 0 auto;
  padding: 50px;
}
#branding-research #target-market .pad-box img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  #branding-research #target-market .pad-box img {
    width: 100%;
    height: auto;
  }
}
#branding-research #target-market .pad-box h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 20px;
}
#branding-research #target-market .pad-box p {
  font-family: "Work Sans", sans-serif;
}
#branding-research #target-market .pad-box p span {
  font-weight: 600;
}
#branding-research #competition {
  border-bottom: 1px solid #1d1d21;
  color: #1d1d21;
}
#branding-research #competition .pad-box {
  margin: 0 auto;
  padding: 30px 50px;
}
#branding-research #competition .pad-box h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #competition .pad-box img {
  width: 200px;
  padding: 30px 0 0 0;
  display: block;
}
#branding-research #competition .pad-box p {
  padding-top: 10px;
  font-family: "Work Sans", sans-serif;
}
#branding-research #inspiration {
  border-bottom: 1px solid #1d1d21;
  color: #1d1d21;
}
#branding-research #inspiration .pad-box {
  margin: 0 auto;
  padding: 30px 50px;
}
#branding-research #inspiration .pad-box h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #inspiration .pad-box img {
  height: 200px;
  padding: 30px 0 0 0;
  display: block;
}
#branding-research #inspiration .pad-box p {
  padding-top: 10px;
  font-family: "Work Sans", sans-serif;
}
#branding-research #inspiration .pad-box p span {
  font-weight: 600;
}
#branding-research #process {
  border-bottom: 1px solid #1d1d21;
  padding: 30px 50px;
  min-height: 380px;
}
@media only screen and (max-width: 500px) {
  #branding-research #process {
    padding: 2em !important;
  }
}
#branding-research #process h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #process .img-wrapper {
  margin: 0 auto;
  padding: 20px 0;
}
#branding-research #process .img-wrapper a img {
  height: 100px;
  padding: 5px 5px 5px 0;
  display: inline-block;
}
#branding-research #process p {
  font-style: italic;
  padding-top: 10px;
  font-family: "Work Sans", sans-serif;
}
#branding-research #initial-designs {
  border-bottom: 1px solid #1d1d21;
  padding: 30px 50px;
  min-height: 400px;
}
@media only screen and (max-width: 500px) {
  #branding-research #initial-designs {
    padding: 2em !important;
  }
}
#branding-research #initial-designs h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #initial-designs .img-wrapper {
  margin: 0 auto;
  padding: 20px 0;
}
#branding-research #initial-designs .img-wrapper a img {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
#branding-research #initial-designs .img-wrapper a .img-long {
  width: 250px;
}
#branding-research #initial-designs .img-wrapper a .img-sq {
  height: 100px;
}
#branding-research #initial-designs p {
  font-style: italic;
  padding-top: 10px;
  font-family: "Work Sans", sans-serif;
}
#branding-research #final-logo-bg {
  border-bottom: 1px solid #1d1d21;
  padding: 30px 50px;
  min-height: 500px;
}
@media only screen and (max-width: 500px) {
  #branding-research #final-logo-bg {
    padding: 2em !important;
  }
}
#branding-research #final-logo-bg h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #logo-lockups {
  border-bottom: 1px solid #1d1d21;
  padding: 30px 50px;
  min-height: 500px;
}
@media only screen and (max-width: 500px) {
  #branding-research #logo-lockups {
    padding: 2em !important;
  }
}
#branding-research #logo-lockups h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #logo-lockups p {
  font-style: italic;
  font-family: "Work Sans", sans-serif;
  padding: 15px 0;
}
#branding-research #logo-lockups .img-wrapper {
  margin: 0 auto;
  padding: 10px 0;
}
#branding-research #logo-lockups .img-wrapper a img {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
#branding-research #logo-lockups .img-wrapper a .img-long {
  width: 250px;
}
#branding-research #logo-lockups .img-wrapper a .img-sq {
  height: 150px;
}
#branding-research #logo-lockups p {
  font-style: italic;
  font-family: "Work Sans", sans-serif;
  padding-bottom: 15px;
}
#branding-research #type-color {
  border-bottom: 1px solid #1d1d21;
  padding: 30px 50px;
  min-height: 500px;
}
@media only screen and (max-width: 500px) {
  #branding-research #type-color {
    padding: 2em !important;
  }
}
#branding-research #type-color h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-bottom: 20px;
}
#branding-research #type-color img {
  background-color: #fff;
  width: 500px;
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  #branding-research #type-color img {
    width: 100%;
  }
}
#branding-research #mockups {
  padding: 30px 50px;
}
@media only screen and (max-width: 500px) {
  #branding-research #mockups {
    padding: 2em !important;
  }
}
#branding-research #mockups h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
}
#branding-research #mockups .img-wrapper {
  margin: 0 auto;
  padding: 20px 0;
}
#branding-research #mockups .img-wrapper a {
  display: inline-block;
}
#branding-research #mockups .img-wrapper a img {
  width: 250px;
  padding: 5px 5px 25px 0;
  display: inline-block;
}
#branding-research #mockups .img-wrapper p {
  font-size: 1.1em;
  font-style: italic;
  font-family: "Work Sans", sans-serif;
}

#web-design {
  height: auto;
  background-color: #3e3e46;
  color: #daae9c;
}
#web-design .pad-box {
  margin: 0 auto;
  padding: 50px;
}
#web-design .pad-box h2 {
  padding-bottom: 20px;
  font-family: "adamnormal", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 2px solid #daae9c;
}
#web-design .pad-box #evolution {
  border-bottom: 1px solid #daae9c;
}
#web-design .pad-box #evolution h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #evolution h3 {
    padding: 1em 0 0 1.2em !important;
  }
}
#web-design .pad-box #evolution .img-wrapper {
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #evolution .img-wrapper {
    padding: 2em !important;
    max-width: 100%;
  }
}
#web-design .pad-box #evolution .img-wrapper a {
  display: inline-block;
}
#web-design .pad-box #evolution .img-wrapper a img {
  width: 180px;
  padding: 5px 5px 5px 0;
}
#web-design .pad-box #evolution .img-wrapper p {
  width: 600px;
  padding: 15px 0;
  font-family: "Work Sans", sans-serif;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #evolution .img-wrapper p {
    width: 100%;
    padding: 0;
  }
}
#web-design .pad-box #inspiration2 {
  border-bottom: 1px solid #daae9c;
}
#web-design .pad-box #inspiration2 h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #inspiration2 h3 {
    padding: 1em 0 0 1.2em !important;
  }
}
#web-design .pad-box #inspiration2 .img-wrapper {
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #inspiration2 .img-wrapper {
    padding: 2em !important;
    max-width: 100%;
  }
}
#web-design .pad-box #inspiration2 .img-wrapper a {
  display: inline-block;
}
#web-design .pad-box #inspiration2 .img-wrapper a img {
  width: 250px;
  padding: 5px 5px 5px 0;
}
#web-design .pad-box #inspiration2 .img-wrapper p {
  width: 600px;
  padding: 15px 0;
  font-family: "Work Sans", sans-serif;
}
@media only screen and (max-width: 500px) {
  #web-design .pad-box #inspiration2 .img-wrapper p {
    width: 100%;
    padding: 0;
  }
}
#web-design .pad-box #ia {
  border-bottom: 1px solid #daae9c;
}
#web-design .pad-box #ia h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}
#web-design .pad-box #ia .img-wrapper {
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
#web-design .pad-box #ia .img-wrapper a {
  display: inline-block;
}
#web-design .pad-box #ia .img-wrapper a img {
  max-width: 100%;
  width: 650px;
  padding: 15px 5px 5px 0;
}
#web-design .pad-box #wireframes {
  border-bottom: 1px solid #daae9c;
}
#web-design .pad-box #wireframes h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}
#web-design .pad-box #wireframes .img-wrapper {
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
#web-design .pad-box #wireframes .img-wrapper a {
  display: inline-block;
}
#web-design .pad-box #wireframes .img-wrapper a img {
  max-width: 100%;
  width: 650px;
  padding: 5px 5px 5px 0;
}
#web-design .pad-box #high-fid {
  min-height: 600px;
}
#web-design .pad-box #high-fid h3 {
  font-family: "bellotaregular", sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}
#web-design .pad-box #high-fid .img-wrapper {
  margin: 0 auto;
  padding: 10px 0 30px 0;
  display: inline-block;
}
#web-design .pad-box #high-fid .img-wrapper img {
  max-width: 100%;
  width: 650px;
  padding: 5px 5px 5px 0;
}

.application {
  min-height: 300px;
  font-family: "bellotaregular", sans-serif;
  padding: 50px 0;
  background-color: #ed9f80;
  color: #1d1d21;
  text-align: center;
}
.application h1 {
  margin-bottom: 60px;
  font-size: 4em;
}
.application a {
  padding-top: 40px;
  color: #3e3e46;
  font-size: 2em;
  font-family: "Work Sans", sans-serif;
  border-bottom: 2px solid #3e3e46;
  padding-bottom: 5px;
}
.application a:hover {
  color: #f4b9a6;
  text-decoration: none;
  border-bottom: 2px solid #f4b9a6;
}
