$bg-color: #1d1d21;
$bg-color2: #3e3e46;
$bg-color3: #313138;
$bg-pur: #eee6f5;
$pur: #bcb5f5;
$light-bg: #E8CFC5;
$gutter: 1.5em;
$brand-color: #ed9f80;
$brand-color2: #f4b9a6;
$brand-color3: #daae9c;
$font-head: 2em;
$font-body:1em;
$font-xs: 0.5em;
$font-bold: 700;
$font-family-1: 'adamnormal', sans-serif;
$font-family-2: 'bellotaregular', sans-serif;
$font-family-3: 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');


@font-face {
    font-family: 'adamnormal';
    src: url('../../font/adam-webfont.woff2') format('woff2'),
         url('../../font/adam-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bellotaregular';
    src: url('../../bellota-regular-webfont.woff2') format('woff2'),
         url('../../bellota-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bellotalight';
    src: url('../../bellota-light-webfont.woff2') format('woff2'),
         url('../../bellota-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  position: relative;
  line-height: 1.5;
  background-color: #fff;
}

.mobile-landing {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}

/////////////
//NAV AREA//
////////////
.main {
  background-color: $bg-color;
  padding: none;
  @media only screen and (max-width: 500px) {
    height: 50px
  }
  //home-landing
  &__home-landing {
    height: 200px;
    padding: 10px 0;
    margin: auto;
    @media only screen and (max-width: 500px) {
      height: 150px;
      padding:0;
    }
    &__logo {
      padding-top:$gutter;
      display: block;
      margin: 0 auto;
      width: 320px;
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }

  }//end of home-landing
}//end of main

// END OF NAV AREA//

////////////////
//PROJECT HERO//
////////////////
.project-hero {
  background: url(../../images/curranbw.jpg) no-repeat 50% 60%;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    width: 400px;
    max-width: 100%;
    @media only screen and (max-width: 500px) {
      width: 250px;
    }
  }
}
//END OF PROJECT HERO

////////////////////////
//GENERAL CONTENT AREA//
///////////////////////
.content-area {
  margin: 50px 150px;
  @media only screen and (max-width: 600px) {
    margin: $gutter;
  }
  section {
    color: $bg-color;
    border-bottom: 2px solid $bg-color;
    width: 100%;
    a {
      text-decoration: none;
      font-weight: bold;
      color: red;
      &:hover {
        border-bottom: 1px solid red;
      }
    }
    h2 {
      font-family: $font-family-2;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 20px;
    }
    p {
      font-family: $font-family-3;
      padding-bottom: 20px;
      span {
        font-weight: bold;
      }
    }
    img {
      width:100%;
      padding: 20px 0;
    }
    .img-wrapper {
      width: 100%;
      position: relative;
      img {
        width: 50%;
        padding: 0 20px 20px 0;
        // position: absolute;
        float: left;
        @media only screen and (max-width: 600px) {
          float: none;
          width: 100%;
        }
      }
    }
    h4 {
      padding: 30px 0 0 0;
      font-family: $font-family-3;
    }
  }
  #about-client {}
  #project-info {
    padding-top: 20px;
  }
  #my-role {
    height: 1100px;
    @media only screen and (max-width: 600px) {
      height: 1600px;
    }
  }
  #invite { min-height: 100px;}
}


//thank-you
.application {
  min-height: 300px;
  font-family: $font-family-2;
  padding: 50px 0;
  background-color: $brand-color;
  color: $bg-color;
  // margin-top: 50px;
  text-align: center;
  h1 {
    margin-bottom: 60px;
    font-size: 4em;
  }
  a {
    padding-top: 40px;
    color: $bg-color2;
    font-size: 2em;
    font-family: $font-family-3;
    border-bottom: 2px solid $bg-color2;
    padding-bottom: 5px;
    &:hover {
      color: $brand-color2;
      text-decoration: none;
      border-bottom: 2px solid $brand-color2;
    }
  }
}
