$bg-color: #1d1d21;
$gutter: 1.5em;
$brand-color: #ed9f80;
$brand-color2: #f4b9a6;
$font-head: 2em;
$font-body:1em;
$font-xs: 0.5em;
$font-bold: 700;
$font-family-1: 'adamnormal', sans-serif;
$font-family-2: 'bellotaregular', sans-serif;
$font-family-3: 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');


@font-face {
    font-family: 'adamnormal';
    src: url('../../font/adam-webfont.woff2') format('woff2'),
         url('../../font/adam-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bellotaregular';
    src: url('../../bellota-regular-webfont.woff2') format('woff2'),
         url('../../bellota-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bellotalight';
    src: url('../../bellota-light-webfont.woff2') format('woff2'),
         url('../../bellota-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mobile-landing {
    display: none;
    @media only screen and (max-width: 500px) {
      display:block;
      height: 200px;
      background-color: $brand-color;
      padding: 0;
      width: 100%;
    }
    .mobile-logo {
      width: 100px;
      padding: 30px 5px 10px 5px;
      display: block;
      margin: 0 auto;
    }
    h4 {
      text-align: center;
      padding-bottom: 10px;
    }
}
