$bg-color: #1d1d21;
$gutter: 1.5em;
$brand-color: #eaa075;
$font-head: 2em;
$font-body:1em;


.my-navbar-wrapper {
  border-radius: none !important;
  width: 100%;
  margin: 0 !important;
  left: 0;
  text-align: center;
  position: relative;
  min-height: 50px;
  border: none;
  background-color: $bg-color !important;
  border-color: none;
  @media only screen and (max-width: 500px) {
    width: 420px;
    font-size: 0.65em;
    // padding-top: 15px;
  }
  &__nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    float: none;
    &--list {
      display: inline-block !important;
      padding: $gutter/2;
      color: $brand-color;
      font-size: $font-head/1.5;
      float: none !important;
      position: relative;
    }
  }
  .my-logo img {
    float: left;
    width: 30px;
    visibility: collapse;
    @media only screen and (max-width: 768px) {
    visibility: visible;
    }
  }
  .icon-bar {
    color: white;
  }

#navIcon {
  position: relative;
  margin: 10px;
  padding: 5px 0;
  width: 35px;
  height: 20px;
  cursor: pointer;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  span {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 5px;
    width: 100%;
    height: 2px;
    // background-color: $bg-color;
    // color: $brand-color;
    background: $brand-color;
    border-radius: 9px;
    opacity: 1;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 18px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        left: 50%;
        width: 0%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        left: 50%;
        width: 0%;
      }
    }
  }
}
}

//sticky nav affix bootstrap
.my-navbar-wrapper.affix {
    top:0;
    width: 100%;
    position: fixed !important;
    z-index: 1000;
}

.my-navbar-wrapper.affix-top {
    top: 0;
    width: 100%;
}

.my-navbar-wrapper.affix + .container-fluid {
    padding-top: 70px;
}

.navbar {
  border-radius: 0 !important;
}


//footer
footer {
  height: 50px;
  border-top: none !important;
  background-color: $bg-color;
}
footer p {
  line-height: 50px;
  margin-bottom: 0;
}
@media (min-width:1200px) {
  .affix,
  .affix-bottom {
    width: 263px;
  }
}
