html, body {
  background-color: #1d1d21 !important;
}

.main {
  background-color: #1d1d21;
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main {
    height: 300px;
  }
}
.main__home-landing {
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main__home-landing {
    height: 150px;
    padding: 0;
  }
}
.main__home-landing__subtitle {
  padding-top: 0.75em;
  font-size: 2em;
  color: #eaa075;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__subtitle {
    font-size: 1em;
  }
}
.main__home-landing__logo {
  padding-top: 1.5em;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__logo {
    width: 150px;
  }
}

.content-wrapper {
  position: relative;
  padding: 0;
  width: 100%;
}
.content-wrapper .work-content .work-section-title {
  background-color: #fff;
  position: absolute;
  padding: 10px;
  height: 600px;
  width: 50%;
  float: left;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .work-content .work-section-title {
    display: none;
  }
}
.content-wrapper .work-content .work-section-content {
  height: 2100px;
  width: 50%;
  float: right;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .work-content .work-section-content {
    height: 300px;
    width: 100%;
    float: none;
  }
}
.content-wrapper .work-content .work-section-content .work-item1 {
  display: block;
  background: url(../images/test.jpg) no-repeat center top;
  height: 500px;
  overflow: hidden;
  background-size: Auto 500px;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .work-content .work-section-content .work-item1 {
    background: url(../images/test.jpg) no-repeat center;
    height: 300px;
  }
}
.content-wrapper .work-content .work-section-content .work-item2 {
  display: block;
  background: url(../images/test2.jpg) no-repeat center top;
  height: 500px;
  overflow: hidden;
  background-size: Auto 500px;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .work-content .work-section-content .work-item2 {
    background: url(../images/test2.jpg) no-repeat center;
    height: 300px;
  }
}
.content-wrapper .work-content .work-section-content .work-item3 {
  display: block;
  background: url(../images/test3.jpg) no-repeat center top;
  height: 500px;
  overflow: hidden;
  background-size: Auto 500px;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .work-content .work-section-content .work-item3 {
    background: url(../images/test3.jpg) no-repeat center;
    height: 300px;
  }
}
.content-wrapper .work-content .work-section-content .see-all-work {
  text-align: center;
  height: 100px;
  width: 100%;
  float: right;
  padding-top: 30px;
  font-size: 2em;
}
.content-wrapper .work-content .work-section-content .see-all-work a {
  color: #eaa075;
}
.content-wrapper .about-content .about-section-title {
  background-color: #eaa075;
  position: absolute;
  padding: 10px;
  height: 600px;
  width: 50%;
  float: left;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .about-content .about-section-title {
    display: none;
  }
}
.content-wrapper .about-content .about-section-content {
  height: 1200px;
  background-color: #fff;
  width: 50%;
  float: right;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .about-content .about-section-content {
    height: auto;
    width: 100%;
    float: none;
  }
}
.content-wrapper .about-content .about-section-content .about-text-wrapper {
  padding: 150px 80px;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .about-content .about-section-content .about-text-wrapper {
    padding: 1.5em;
  }
}
.content-wrapper .contact-content {
  position: relative;
}
.content-wrapper .contact-content .contact-section-title {
  background-color: #fff;
  position: absolute;
  padding: 10px;
  height: 600px;
  width: 50%;
  float: left;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .contact-content .contact-section-title {
    display: none;
  }
}
.content-wrapper .contact-content .contact-section-content {
  height: 650px;
  margin-left: 110px;
  width: 50%;
  float: right;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .contact-content .contact-section-content {
    height: auto;
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.content-wrapper .contact-content .contact-section-content .contact-text-wrapper {
  padding: 150px 80px;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .contact-content .contact-section-content .contact-text-wrapper {
    padding: 1.5em;
  }
}
.content-wrapper .ty-section {
  height: 650px;
  background-color: #eaa075;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .content-wrapper .ty-section {
    height: 350px;
  }
}
.content-wrapper .ty-section h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
  background-color: transparent;
}

.clear {
  clear: both;
  float: none;
}

.section-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-title span {
  font-size: 2em;
}

.work-item-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  opacity: 0;
}

.see-project {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  opacity: 0;
  position: relative;
}
.see-project .color-box {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  position: absolute;
}
.see-project .text-box {
  position: absolute;
  padding: 40px 50px;
  background-color: #fff;
}

.see-project:hover {
  opacity: 1;
  transition: .3s ease;
}

.transition-width {
  transition: all 2s ease-out;
}
