$bg-color: #1d1d21;
$gutter: 1.5em;
$brand-color: #eaa075;
$font-head: 2em;
$font-body:1em;

html, body {
  background-color: $bg-color !important;
}

.main {
  padding: none;
  //home-landing
  &__home-landing {
    height: 642px;
    padding: none;
    &__subtitle {
      padding-top: $gutter/2;
      font-size: $font-head;
      color: $brand-color;
      text-align: center;
    }
    &__logo {
      padding-top:$gutter;
      display: block;
      margin: 0 auto;
    }
    .my-navbar-wrapper {
      border-radius: none !important;
      width: 100%;
      margin: 0 !important;
      left: 0;
      text-align: center;
      position: relative;
      min-height: 50px;
      border: none;
      background-color: $bg-color !important;
      border-color: none;
      &__nav {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 100%;
        float: none;
        &--list {
          display: inline-block !important;
          padding: $gutter/2;
          color: $brand-color;
          font-size: $font-head/1.5;
          float: none !important;
          position: relative;
        }
      }
    }

  }//end of home-landing
}//end of main

.content-wrapper {
  position: relative;
  padding: 0;
  width: 100%;
  .work-content {
    //work
    .work-section-title {
      background-color: #fff;
      position: absolute;
      padding: 10px;
      height: 600px;
      width: 50%;
      float: left;
    }
    .work-section-content {
      height: 2100px;
      width: 50%;
      float: right;
      // margin: 0 auto;
      .work-item1 {
        display: block;
        background: url(../images/test.jpg) no-repeat center top;
        height: 500px;
        overflow: hidden;
        background-size: Auto 500px;
      }

      .work-item2 {
        display: block;
        background: url(../images/test2.jpg) no-repeat center top;
        height: 500px;
        overflow: hidden;
        background-size: Auto 500px;
      }
      .work-item3 {
        display: block;
        background: url(../images/test3.jpg) no-repeat center top;
        height: 500px;
        overflow: hidden;
        background-size: Auto 500px;
      }
      .see-all-work {
        text-align: center;
        height: 100px;
        width: 100%;
        float: right;
        padding-top: 30px;
        font-size: 2em;
        a {
          color: $brand-color;
        }
      }
    }//end of work-section-content
  }//end of work-content

  //about
  .about-content {
    .about-section-title {
      background-color: $brand-color;
      position: absolute;
      padding: 10px;
      height: 600px;
      width: 50%;
      float: left;
    }
    .about-section-content {
      height: 1200px;
      background-color: #fff;
      width: 50%;
      float: right;
      .about-text-wrapper {
        padding: 150px 80px;
      }
    }
  }// end of about-content

  //contact
  .contact-content {
    position: relative;
    // margin-top: -20px;
    .contact-section-title {
      background-color: #fff;
      position: absolute;
      padding: 10px;
      height: 600px;
      width: 50%;
      float: left;
    }
    .contact-section-content {
      height: 650px;
      margin-left: 110px;
      width: 50%;
      float: right;
      .contact-text-wrapper {
        padding: 150px 80px;
        color: #fff;
      }
    }
  }// end of contact-content


  .ty-section {
    height: 650px;
    background-color: $brand-color;
    text-align: center;
    h1 {
      font-size: $font-head;
    }
  }

}//end of content-wrapper

//global
.clear {
  clear: both;
  float: none;
}
.section-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  span {
    font-size: 2em;
  }
}
.work-item-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  opacity: 0;
  }
.work-section-content {
  a:hover {
    opacity: 1;
    transition: .2s ease;
  }
}
.transition-width {
   transition: all 2s ease-out;
}




//bootstrap
.my-navbar-wrapper.affix {
    top:0;
    width: 100%;
    position: fixed !important;
    z-index: 1000;
}

.my-navbar-wrapper.affix-top {
    top: 0;
    width: 100%;
}

.my-navbar-wrapper.affix + .container-fluid {
    padding-top: 70px;
}

.navbar {
  border-radius: 0 !important;
}
