.mobile-landing {
  display: none;
}
@media only screen and (max-width: 500px) {
  .mobile-landing {
    display: block;
    height: 200px;
    background-color: #eaa075;
    padding: 0;
    width: 100%;
  }
}
.mobile-landing .mobile-logo {
  width: 100px;
  padding: 30px 5px 10px 5px;
  display: block;
  margin: 0 auto;
}
.mobile-landing h4 {
  text-align: center;
  padding-bottom: 10px;
}
