
$bg-color: #1d1d21;
$gutter: 1.5em;
$brand-color: #eaa075;
$font-head: 2em;
$font-body:1em;

body {
  position: relative;
  line-height: 1.5;
}

.main {
  background-color: $bg-color;
  padding: none;
  //home-landing
  &__home-landing {
    height: 200px;
    padding: 10px 0;
    margin: auto;
    &__logo {
      padding-top:$gutter;
      display: block;
      margin: 0 auto;
      width: 150px;
      @media only screen and (max-width: 500px) {
        width: 100px;
      }
    }

  }//end of home-landing
}//end of main

//project-hero
.project-hero {
  background: url(../images/project1-hero.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 500px;
  @media only screen and (max-width: 500px) {
    height: 350px;
  }
}

//table of contents
.scrollspy {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
#nav {
  padding-top: 100px;
  background-color: transparent;
}
#nav.affix-top {
  position: relative;
}
#nav.affix {
  top: 20px;
}
#nav.affix,
#nav.affix-bottom {
    width: 213px;
}
#nav.affix-bottom {
  position: absolute;
}
#nav li .active, #nav li a, #nav li a:hover, .side-links li.active, .side-links li a, .side-links li a:hover, {
  background-color: transparent !important;
  // font-weight: bold;
  color: black;
}
#nav li .active, .side-links li.active {
  font-weight: bold;
}

//project contents
.project-content {
  @media only screen and (max-width: 500px) {
    padding: 0 !important;
  }
}
section {
  padding: 40px 0;
  @media only screen and (max-width: 500px) {
    padding: 0 !important;
  }
}
.content-div {
  width: 100%;
  height: auto;
  @media only screen and (max-width: 500px) {

  }
}
section:last-child {
  border-bottom: none;
}

//mini-nav
#web-development,
#mobile-development {
  padding-bottom: 0;
}
.nav .nav {
  display: none;
}
.nav .active .nav {
  display: block;
}
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
.nav .nav span {
  margin: 0 5px 0 2px;
}
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

//thank-you
.application {
  padding: 150px 0;
}
